//- layout.pug
doctype html
html(lang='zh-cn')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    block head
      title 我
      link(rel="stylesheet", href="./indexs.css")
  body
    block content
    block foot
      #footer
        p 公用的页脚
  
  block scripts
    script(src='js/index.js') 