<!-- Swiper -->
.swiper-container
    .swiper-wrapper
        .swiper-slide   1
        .swiper-slide   2
        .swiper-slide   3
    <!-- 如果需要分页器 -->
    .swiper-pagination
    <!-- 如果需要导航按钮 -->
    .swiper-button-prev
    .swiper-button-next
    <!-- 如果需要滚动条 -->
    .swiper-scrollbar