extends ./template/layout.pug
block head
    - var title = "On Dogs";
    title= title
    link(rel="stylesheet", href="css/index.css")
block content
    h1 #{title}
    h4 54454
    h5 我是h5545545455444
block scripts
    script(src='js/index.js')    